<h1 class="mat-2">{{dataSource.data.length}} Menu Items</h1>
<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef mat-sort-header>IMAGE </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img [src]="element.image" alt="{{element.name}}" width="50px" (mouseenter)="mouseHover(element.image)" (mouseleave)="mouseLeft()">
        <div *ngIf="isHovering" style="position:absolute; top: 0; left:0; width: 250px; border: 1px solid rgb(88, 88, 88); background-color: white; border-radius: 5px; padding: 5px;"><img style="width: 250px; border-radius: 5px;" [src]="imageUrl"></div>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Order Type Column -->
    <ng-container matColumnDef="orderType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ORDER TYPE </mat-header-cell>
      <mat-cell *matCellDef="let element"> <i class="material-icons" [innerText]="element.orderType ? 'add_circle_outline' : 'remove_circle_outline'"></i> </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> PRICE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price | number : '1.2-2'}} </mat-cell>
    </ng-container>

    <!-- Channel Column -->
    <ng-container matColumnDef="channel">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CHANNEL </mat-header-cell>
      <mat-cell *matCellDef="let element"> <i *ngFor="let item of element.channel" class="material-icons">{{item.name}}</i> </mat-cell>
    </ng-container>

    <!-- Availability Column -->
    <ng-container matColumnDef="availability">
      <mat-header-cell *matHeaderCellDef mat-sort-header> AVAILABILITY </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <div *ngIf="element.availability; else elseBlock">
              <div class="availability-bar active">ACTIVE</div>
            </div>
          <ng-template #elseBlock>
              <div class="availability-bar passive">PASSIVE</div>
          </ng-template>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
  </mat-table>

  <!-- Material Datatable Pagination -->
  <mat-paginator matSort [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 15, 50, 100]"></mat-paginator>
</div>
