<mat-toolbar color="primary"><i class="material-icons">dashboard</i>&nbsp;DASHBOARD</mat-toolbar>
<mat-nav-list>
  <mat-list-item href="#"><i class="material-icons">star_border</i>&nbsp;LOYALTY</mat-list-item>
  <mat-list-item href="#"><i class="material-icons">assignment</i>&nbsp;PRODUCTS</mat-list-item>
  <mat-list-item href="#"><i class="material-icons">list_alt</i>&nbsp;PRODUCTS</mat-list-item>
  <mat-list-item href="#"><i class="material-icons">ballot</i>&nbsp;PRODUCTS</mat-list-item>
  <mat-list-item href="#"><i class="material-icons">supervisor_account</i>&nbsp;CUSTOMER</mat-list-item>
  <mat-list-item href="#"><i class="material-icons">store_mall_directory</i>&nbsp;STORE</mat-list-item>
  <mat-list-item href="#"><i class="material-icons">photo_album</i>&nbsp;CONTENT</mat-list-item>
  <mat-list-item href="#"><i class="material-icons">settings_input_antenna</i>&nbsp;HOT SPOT</mat-list-item>
  <mat-list-item href="#"><i class="material-icons">settings</i>&nbsp;SETTINGS</mat-list-item>
</mat-nav-list>
