<mat-toolbar color="accent">
  <mat-icon>dashboard</mat-icon>
  &nbsp;
  <span>DASHBOARD</span>
</mat-toolbar>
<!-- /mat-toolbar -->
<mat-nav-list>
  <mat-accordion multi="true" [displayMode]="displayMode">
    <mat-expansion-panel class="no-shadow">
      <mat-expansion-panel-header [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
        <mat-panel-title>
          <mat-icon>star_border</mat-icon>
          &nbsp;
          <span>LOYALTY</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list class="ml-0" dense>
        <mat-list-item>
          <a href="#">Loyalty 1</a>
        </mat-list-item>
        <mat-list-item>
          <a href="#">Loyalty 2</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- /mat-accordion -->
  <mat-list-item href="#">
    <mat-icon>ballot</mat-icon>
    &nbsp;
    <span>PRODUCTS</span>
  </mat-list-item>
  <!-- /mat-list-item -->
  <mat-accordion multi="true" [displayMode]="displayMode">
    <mat-expansion-panel class="no-shadow">
      <mat-expansion-panel-header [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
        <mat-panel-title>
          <mat-icon>supervisor_account</mat-icon>
          &nbsp;
          <span>CUSTOMER</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list class="ml-0" dense>
        <mat-list-item>
          <a href="#">Customer 1</a>
        </mat-list-item>
        <mat-list-item>
          <a href="#">Customer 2</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- /mat-accordion -->
  <mat-list-item href="#">
    <mat-icon>store_mall_directory</mat-icon>
    &nbsp;
    <span>STORE</span>
  </mat-list-item>
  <!-- /mat-list-item -->
  <mat-list-item href="#">
    <mat-icon>book</mat-icon>
    &nbsp;
    <span>CONTENT</span>
  </mat-list-item>
  <!-- /mat-list-item -->
  <mat-list-item href="#" class="ml-2">
    <mat-icon>settings_input_antenna</mat-icon>
    &nbsp;
    <span>HOT SPOT</span>
  </mat-list-item>
  <!-- /mat-list-item -->
  <mat-accordion multi="true" [displayMode]="displayMode">
    <mat-expansion-panel class="no-shadow">
      <mat-expansion-panel-header [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
        <mat-panel-title>
          <mat-icon>settings</mat-icon>
          &nbsp;
          <span>SETTINGS</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list class="ml-0" dense>
        <mat-list-item>
          <a href="#">Setting 1</a>
        </mat-list-item>
        <mat-list-item>
          <a href="#">Setting 2</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- /mat-accordion -->
</mat-nav-list>
<!-- /mat-nav-list -->
